.video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporción del video 16:9 */
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
