.video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporción del video 16:9 */
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Oculta los controles del reproductor de YouTube */
.video-wrapper iframe::-webkit-media-controls {
    display: none !important;
}

.video-wrapper iframe::-webkit-media-controls-enclosure {
    display: none !important;
}

.video-wrapper iframe::-webkit-media-controls-panel {
    display: none !important;
}